In [6]:
from gp_crypto_next import dataload, oi_dataload
from gp_crypto_next.dataload import DataFrequency
import matplotlib.pyplot as plt
import numpy as np

start_date = '2025-01-01'
end_date = '2025-12-01'
read_frequency = DataFrequency.MONTHLY
daily_frequency = DataFrequency.DAILY
dir = '/Users/aming/data/ETHUSDT/15m'
symbol = 'ETHUSDT'
timeframe = '15m'

In [7]:
df = dataload.data_load_v2(sym = symbol, data_dir=dir, start_date=start_date, end_date=end_date,
                    timeframe=timeframe, file_path=None)

✓ 成功读取 feather: ETHUSDT-15m-2025-01.feather, 行数: 2976
✓ 成功读取 feather: ETHUSDT-15m-2025-02.feather, 行数: 2688
✓ 成功读取 feather: ETHUSDT-15m-2025-03.feather, 行数: 2976
✓ 成功读取 feather: ETHUSDT-15m-2025-04.feather, 行数: 2880
✓ 成功读取 feather: ETHUSDT-15m-2025-05.feather, 行数: 2976
✓ 成功读取 feather: ETHUSDT-15m-2025-06.feather, 行数: 2880
✓ 成功读取 feather: ETHUSDT-15m-2025-07.feather, 行数: 2976
✓ 成功读取 feather: ETHUSDT-15m-2025-08.feather, 行数: 2976
✓ 成功读取 feather: ETHUSDT-15m-2025-09.feather, 行数: 2880
✓ 成功读取 feather: ETHUSDT-15m-2025-10.feather, 行数: 2976
✓ 成功读取 feather: ETHUSDT-15m-2025-11.feather, 行数: 2880
✓ 成功读取 feather: ETHUSDT-15m-2025-12.feather, 行数: 2976

============================================================
读取完成: 成功 12 个，失败 0 个
============================================================

合并后总行数: 35,040
数据时间范围: 2025-01-01 00:00:00 至 2025-12-31 23:45:00
============================================================

In [8]:
df

,o,h,l,c,vol,vol_ccy,trades,close_time,taker_buy_volume,taker_buy_quote_volume
open_time,,,,,,,,,,
2025-01-01 00:00:00,3336.58,3348.47,3334.76,3347.40,11849.907,3.959481e+07,30079,1735690499999,7513.408,2.510607e+07
2025-01-01 00:15:00,3347.41,3353.00,3345.99,3348.62,13400.864,4.488825e+07,30217,1735691399999,7352.137,2.462981e+07
2025-01-01 00:30:00,3348.63,3360.47,3348.03,3355.36,28098.106,9.427517e+07,36044,1735692299999,17922.882,6.013062e+07
2025-01-01 00:45:00,3355.36,3364.50,3353.11,3362.90,14978.352,5.032034e+07,31919,1735693199999,9098.811,3.056924e+07
2025-01-01 01:00:00,3362.89,3365.32,3354.00,3359.62,13083.658,4.395107e+07,28529,1735694099999,5268.456,1.769978e+07
...,...,...,...,...,...,...,...,...,...,...
2025-12-31 22:45:00,2975.34,2977.08,2973.31,2976.07,6437.648,1.915373e+07,12950,1767221999999,2843.396,8.460099e+06
2025-12-31 23:00:00,2976.06,2976.06,2971.81,2972.90,7540.279,2.242245e+07,20457,1767222899999,3271.094,9.726843e+06
2025-12-31 23:15:00,2972.90,2975.60,2972.13,2974.45,4055.894,1.206243e+07,11052,1767223799999,2293.467,6.820791e+06
2025-12-31 23:30:00,2974.45,2974.62,2970.07,2972.21,8785.456,2.611253e+07,10695,1767224699999,4895.446,1.455090e+07
2025-12-31 23:45:00,2972.20,2972.92,2969.01,2970.40,6760.948,2.008518e+07,12297,1767225599999,3072.307,9.127052e+06

In [ ]:
# 涨跌幅公式：(当前收盘价 - 上一期收盘价) / 上一期收盘价 * 100%
# pct_change() 等价于：(df['close'] / df['close'].shift(1) - 1) * 100
df['prev_1'] = df['c'].shift(1)  # 获取上一个15分钟的收盘价
# df['prev_8'] = df['c'].shift(8)  # 获取上8个15分钟的收盘价

df['ret_1'] = (df['c'] - df['prev_1']) / df['prev_1'] * 100  # 手动计算涨跌幅
# df['ret_8'] = (df['c'] - df['prev_8']) / df['prev_8'] * 100  # 手动计算涨跌幅

df = df.dropna()  # 去除第一个空值（因为shift(1)会让第一行的prev_close为NaN）

plt.figure(figsize=(12, 8))
n, bins, patches = plt.hist(df['ret_1'], 
                           bins=np.arange(-10, 10.1, 0.1),  # 横轴-10%到10%，步长0.1%
                           color='steelblue', 
                           edgecolor='black')

# 标注-10%和+10%的位置
plt.axvline(x=-10, color='red', linestyle='--')
plt.text(-10, max(n)*0.9, '-10%', color='red', ha='center')
plt.axvline(x=10, color='red', linestyle='--')
plt.text(10, max(n)*0.9, '+10%', color='red', ha='center')

# 图表美化
plt.title('ETH/USDT 15-Minute Return Distribution (Last 1 Year)', fontsize=14)
plt.xlabel('15-Minute Return (%)', fontsize=12)
plt.ylabel('Count', fontsize=12)
plt.xlim(-11, 11)
plt.grid(axis='y', alpha=0.3)

plt.show()

# ----------------------
# 4. 厚尾特征验证
# ----------------------
extreme_returns = df[(df['ret_1'] < -1) | (df['ret_1'] > 1)]
extreme_ratio = len(extreme_returns) / len(df) * 100
print(f"15分钟极端涨跌幅（超出±1%）占比: {extreme_ratio:.2f}%")